/* global values */

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 50px;
    font-weight:700;
}
h2{
    font-size: 35px;
    font-weight: 500;
}
.orange-color{
    color: #FC954B;
}

.flex-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-margin {
    margin: 0px 45px;
}

.button{
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 150px;
    background-image: linear-gradient(#FC954B, #FE4E30);
    color: white;
    margin-top: 20px;
}
.heading{
    text-align: center;
    margin: 50px 370px;
}

.card{
    width: 30%;
    margin-left: 1%;
    margin-right: 1%;
    padding: 15px;
    border-radius: 30px;
    box-shadow: 0px 0px 16px 1px #d0d0d0;
}

/* Hero section */

#hero-section img{
    width: 70%;
}
#hero-section{
    height: 100vh;
}
#hero-section p{
    margin-bottom: 35px;
}
.half-width{
    width: 50%;
    margin-left: 5%;
}

/* About Us section */

#about-us-section{
    height: 80vh;
    width: 100%;
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
}
#about-us-section img{
    width: 70%;
}

.about-me p{
    margin-bottom: 30px;
}
.about-me p{
    padding-right: 150px;
    text-align: justify;
}

/* Blog section */

#blog-section{
    margin: 150px 0px;
}
#blog-section p{
    margin-bottom: 30px;
    line-height: 1.5;
}


.blog-box img{
    width: 100%;
    height: 260px;
    border-radius: 30px;
}



/*Team section*/

#team-section{
    margin: 150px 0;
}
.team-box img{
    width: 100%;
    height: 400px;
    border-radius: 30px;
}
.team-box{
    padding-bottom: 30px;
    border-bottom: 5px solid #FC954B;
    text-align: center;
    line-height: 10px;
}

/*Bonus section*/

#counter-section{
    border-radius: 30px;
    margin: 100px 50px;
    padding: 20px 0;
    box-shadow: 0 0 16px 1px #d0d0d0;
}
.counter{
    margin-left: 10%;
    margin-right: 10%;
}

/* Footer section */

footer{
    text-align: center;
    padding: 80px 0;
    background-color: black;
    color: #d0d0d0;
}
i{
    color:white;
    margin: 0 10px;
    text-decoration: none;
}
#newsletter{
    border-radius: 30px;
    margin: 100px 50px;
    padding: 20px 0;
    box-shadow: 0 0 16px 1px #d0d0d0;
    text-align: center;

}
input{
    width: 60%;
    border: 2px solid gray;
    padding: 14px;
    border-radius: 150px;
    margin-bottom:20px;
}
#newsletter i{
    color: black;
    font-size: 20px;
    border: 2px solid gray;
    padding: 11px 44px;
    border-radius: 150px;
}